@model Student

@{
    ViewData["Title"] = "Details";
}

<h2>Student Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <partial name="_StudentDetails" model="@Model" />
    <div>
        <span class="fw-bold">
            @Html.DisplayNameFor(model => model.Enrollments)
        </span>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Course Title</th>
                <th>Grade</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Enrollments)
            {
                <tr>
                    <td>
                        @item.Course.Title
                    </td>
                    <td>
                        @item.Grade
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

